<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Item Catalog</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/shop-homepage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  {% include "header.html" %}

  <!-- Page Content -->
  <div class="container">
    <br />
    <h2>Add new Category</h2>
    <br />
    <div class="row">
      <div class="col-lg-10">
        <div class="row">
          <input type='text' class='col-lg-6 form-control' placeholder="Category name" />
          <div class="col-md-1"></div>
          <input type='submit' class="col-lg-1 btn btn-primary" value='Add' />

        </div> <!-- /.row -->
        <br>
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  {% include "footer.html" %}

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
