<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Item Catalog</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/shop-homepage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  {% include "header.html" %}

  <!-- Page Content -->
  <div class="container">
    <br>
    <br>
    <div class="row">

      <h3><a href="{{url_for('allCategories')}}">Categories</a> / {{category.name}}</h3>

      <div class="col-lg-12">
        <a href="{{url_for('newItem', category_id= category.id)}}" class="btn btn-primary">New Item</a>
        <br>
        <br>
        <div class="row">
          {%for item in items %}

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{item.name}}</a>
                </h4>
                <h5>$ {{item.price}}</h5>
                <p class="card-text">{{item.description}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                  <a href="{{url_for('editItemByID', item_id=item.id)}}" class="btn btn-success">Edit</a> 
                  <a href="{{url_for('deleteItemByID', item_id=item.id)}}" class="btn btn-danger">Delete</a>
                </small> </div> </div> </div> {% endfor %} </div> <!-- /.row -->
              </div>
              <!-- /.col-lg-9 -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container -->
          <!-- Footer -->
          {% include "footer.html" %}
          <!-- Bootstrap core JavaScript -->
          <script src="static/vendor/jquery/jquery.min.js"></script>
          <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
